* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Whyte, sans-serif;
}

#menu {
    height: 82px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu .list {
    right: 24px;
}

#menu .list li {
    display: inline-block;
    text-align: end;
}
.list .none a::after {
    content: "";
}
.list li>a {
    text-decoration: none;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 18px;
}

.list li a::after {
    content: " \f0d7";
    font-family: "FontAwesome";
}

.list .sign-up a::after {
    content: "";
}

.buttom a {
    padding: 12px 24px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

#menu .icon {
    position: absolute;
    display: inline-block;
    left: 48px;
    font-size: 32px;
    color: violet;
}

/* end menu */

/* begin header */

#header {
    margin-top: 82px;
}

#header .box-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header img {
    width: 480px;
    height: 480px;
}

.left-header {
    margin: 0 24px;
}

#header .right-header {
    margin: 0 24px;
}

.content-tile {
    margin: 20px 0;
}

.h1-title h1 {
    font-size: 64px;
    margin: 32px 0;
    width: 420px;
}

.span-header p {
    font-size: 18px;
    margin: 18px 0;
    width: 420px;
    line-height: 1.6;
}

.box-header .buttom {
    margin-top: 32px;
}

/* end header */

/* begin content flex */

#flex {
    display: inline-block;
    padding: 70px;
    background-color: #F5F5F5;
    width: 100%;
}

#flex>h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

#flex>p {
    text-align: center;
    font-size: 18px;
    margin: 18px 0;
}

#flex .flex-box {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

.box-content>img {
    width: 312px;
    height: 312px;
}

.box-content>p {
    width: 312px;
    margin-top: 18px;
}

.box-content>h3 {}

.box-content {
    margin: 0 8px;
}

.hehe {
    text-align: center;
    margin-top: 48px;
}

.box-content>img {
    margin: 18px 0;
}
/* end content flex */

#content2 {
    display: flex;
    padding: 48px 0;
    justify-content: center;
    align-items: center;
}
#content2 .left2 {
    margin: 0 24px;
}
#content2 .right2 {
    margin: 0 24px;
}
.img2 {
    width: 480px;
    height: 480px;
}
.title-right2 h2 {
    margin-bottom: 32px;
    width: 380px;
    font-size: 36px;
}
.span-right2 p {
    margin: 18px 0;
    width: 420px;
}
/* end content 2 */
.h2h3 {
    font-size: 36px;
}
/* end */

/*  */

#dark {
    background-color: #000;

    align-items: center;
}
.title-dark h2 {
    font-size: 36px;
    color: #fff;
}
#dark .title-dark {
    text-align: center;
    padding-top: 62px;
}
.dark-box > img {
    width: 77px;
    height: 77px;
    margin: 24px 40px;

}
.dark-box {
    display: flex;
    flex-direction: column;
}
.flex-dark {
    display: flex;
    justify-content: center;
    padding-bottom: 62px;
}
/* end dark */



#form {
    background-color: antiquewhite;
    text-align: center;
    padding: 144px 0 80px;
}
.form-h2 h2 {
    font-size: 36px;
}
.icon-gg {
    width: 14px;
    height: 14px;
}
button {
    width: 308px;
    height: 48px;
    font-size: 16px;
    background-color: #fff;
    border: solid ;
    border-radius: 10px;
    
}
.or {
    color: rgb(102, 102, 102)     ;
}
