*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    
}
body{
    background: url(../IMG/mainP4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
}
.a{
    height: 72px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:#66cc99;
    display: flex;
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
}
.icon{
    height: 100%;
    width: 5%;
    line-height: 72px;
    text-align: right;
    font-size: 23px;
}
.iconFace{
    height: 100%;
    width: 5%;
    line-height: 72px;
    text-align: right;
    font-size: 23px;
    margin-left: 35px;
}
.Blog{
    width: 70%;
    height: 100%;
    text-align: right;line-height: 72px;
    color: white;
    font-family: cursive;
}
.b:hover{
    color: white;
    cursor: grab;
    
}
.name{
    height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    display: flex;
    
}
.pTrang{
    height: 100%;
    width: 100%;
    font-family: cursive;
    color: black;
    line-height: 180px;
    font-size: 100px;
    text-align: center;

}
.parts{
    height: 70px;
    width: 80%;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    display: flex;
}
.subparts{
    height: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap:wrap;

}
.partTC{
    width: 100px;
    height: 100%;
}
.partKD{
    width: 100px;
    height: 100%;
}
.partDL{
    width: 100px;
    height: 100%;
}
.partSP{
    width: 100px;
    height: 100%;
}
.partBT{
    width: 100px;
    height: 100%;
}
.partLL{
    width: 100px;
    height: 100%;
}
.textPart{
    width: 100%;
    height: 100%;
    font-family: cursive;
    text-align: center;
    color: gray;
}
.p:hover{
    color: black;
    cursor: grab;
}
.subDL{
    width: 150%;
    height: 200px;
	margin-top: 0px;
	text-align: left;
	box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
	background-color: white;
    border: 1px white solid;
    display: none; 
  
}
.subDLa{
    width: 100%;
    height: 25%;
    color: black;
    margin-left: 20px;
}
.p:hover .subDL{
    display: block;
    transition: 0.4s;
}
.Streight{
    width: 80%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;  
    background-color: white;
}
hr{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: #e5e5e5;

}
.space{
    width: 80%;
    height: 60px;
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.streight{
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.img{
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: white;

}
.subimg{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
}
.latest{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    text-align: left;
    background-color: white;
}
.subcontainer{
    width: 88%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.textLatest{
    font-family: cursive;
    font-size: 35px;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    background-color: white;
}
.containerphoto{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
.left{
    width: 32%;
    background-color: white;
    
}
.center{
    width: 32%;
    background-color: white;
}
.right{
    width: 26%;
    background-color: white;
}
.subspace{
    width: 5%;
    background-color: white;
}
.photoAva{
    width: 100%;
    height: 403px;
    border: 1px solid #f2f2f2;
}
.spaceLeft{
    width: 1%;
    height: 3%;
}
.photoAva:hover{
    cursor: grab;
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
}
.photo{
    width: 100%;
    height: 250px;
}
.ava{
    width:100% ;
    height: 150px;
    background-color: white;
}
.langlung{
    width: 100%;
    height: 50%;
    
}
.everything{
    width: 100%;
    height: 50%;
    display: flex;
    display: none;
}
.photoA{
    width: 40px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.textLL{
    margin-top: 25px;
    margin-left: 20px;
    font-family: cursive;
    color: #7f7f7f;
}
.textevery{
    font-family: cursive;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    
}
.photoAva:hover .everything{
    display: block;
}
.input{
    width: 100%;
    height: 30px;
    font-family: cursive;
    color: brown;
    background-color: rgb(194, 173, 173);
}
.myAvatar{
    width: 50px;
    height: 65px;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 50%;
    border: 3px white solid;
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
}
.diary{
    width: 100%;
    display: flex;
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
}
.spaceFull{
    width: 100%;
    height: 60px;
}
.myName{
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: cursive;
    color: #7f7f7f;
    font-size: 20px;
}
.containerName{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.subdiary{
    width: 100%;
 
    display: flex;
    font-family: cursive;
    color: #7f7f7f;
    text-align: center;
}
.SubmyName{
    width: 100%;
    height: 10px;
    text-align: center;
    font-family: cursive;
    color: #7f7f7f;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 30px;
}
button{
    height: 45px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    background-color:#6610f2;
    font-size: 15px;
    color: white;
}
button:hover{
    cursor: grab;
}
.subicon{
    margin-top: 10px;
    width: 70%;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.icons{
    width: 25%;
    height: 100%;
}
.icons:hover{
    cursor: grab;
}
.spaces{
    width: 80%;
    height: 30px;
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.popular{
    text-align: center;
    font-family: cursive;
    font-size:20px;
    margin-bottom: 15px;
}
hr{
    margin-bottom: 15px;
    margin-top: -10px;
}
.photoCap{
    width: 100%;
    height: 60px;
    display: flex;
    color: teal;
}
.rightPhoto{
    width: 65px;
    height: 40px;
}
.rightPhoto:hover{
    cursor: grab;
}
.photoCap:hover{
    cursor: grab;
}
.textHow{
    font-size: 15px;
    color: teal;
    text-align: center;
    font-family: cursive;
}
.foodNum{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    display: flex;
    
}
.food{
    height: 100%;
    width: 90%;
    text-align: left;
    color: #6610f2;
    font-family: cursive;
}
.num{
    height: 100%;
    width: 10%;
    text-align: right;
    color:#7f7f7f ;
    font-family: cursive;
}
.foodNum:hover{
    cursor: grab;
}
.foodNum:hover .num{
    color: black;
}
.buttons{
    border-radius: 8px;
    background-color:#f2f2f2 ;
    color: #868686;
    padding: 10px;
    font-size: 80%;
    font-family: cursive;
}
.buttons:hover{
    color: black;
    background-color: #6610f2;
    cursor: grab;
    font-family: cursive;
}
.subicons{
    width: 100%;
    height: 45px;
    float: right;
}
.subia{
    width: 33px;
    height: 100%;
    border-radius: 50%;
    background-color: #6610f2;
    color: #f2f2f2;
    margin-left: 100px;
    
}
.subi{
    width: 30px;
    height: 100%;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: gray;
}
.subi:hover{
    background-color: #6610f2;
    color: #f2f2f2;
}
.end{
    width: 100%;
    height: 500px;
    background-color: #262626;
}
.subend{
    width: 100%;
    height: 90%;
    display: flex;
    background-color: #262626;
}
.leftsubend{
    width: 50%;
    height: 100%;
}
.rightsubend{
    width: 50%;
    height: 100%;
}
.imgend{
    width: 450px;
    height: 300px;
    margin-top: 95px;
    margin-left: 50px;
}
.thanks{
    width: 100%;
    height: 10%;
    text-align: center;
}
.containerend{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #262626;
}
.textend1{
    color: #868686;
}
.textend2{
    font-family: cursive;
    color: rgb(252, 115, 17);
}
.myAva{
    width: 60px;
    height: 60px;
    margin-top: 100px;
    margin-left: -90px;
}
.phone{
    color: white;
    margin-top: 25px;
    margin-left: -190px;
    font-size: 45px;
}
.numphone{
    color: white;
    margin-top: -18px;
    margin-left: -75px;
}
.email{
    color: white;
    margin-top: 40px;
    margin-left: -305px;
}
.textemail{
    color: white;
    margin-left: -90px;
    margin-top: -18px;
}
.textTravel{
    margin-top: 55px;
    margin-left: -100px;
}
.textT1{
    color: white;
    font-size: 28px;
    font-family: cursive;
}
.textT2{
    color: green;
    font-size: 28px;
    font-family: cursive;
}
.textT3{
    color: yellow;
    font-size: 28px;
    font-family: cursive;
}
.partDL{
    
   
}
.img{
    position: relative;
}
